@model Sistema_JYR.Models.Proformas
@using Microsoft.AspNet.Identity
@{
    Sistema_JYR.Models.SistemaJYREntities db = new Sistema_JYR.Models.SistemaJYREntities();
    var idUser = HttpContext.Current.User.Identity.GetUserId();
    Sistema_JYR.Models.AspNetUsers user = db.AspNetUsers.Find(idUser);
}

<div id="carritoAjax">
    <div class="card bg-light mb-12" style="width:auto">
        <div class="card-header">Materiales en la Proforma - Moneda: Colones ( ¢ )</div>
        <div class="card-body">
            <table class="table table-responsive-lg">
                <tr style="text-align:center">
                    <th style="text-align:center">
                        Id
                    </th>
                    <th style="text-align:center">
                        Producto
                    </th>
                    <th>
                        Cantidad
                    </th>

                    <th>
                        Precio Unitario
                    </th>
                    <th>
                        Impuesto
                    </th>
                    <th>
                        Descuento
                    </th>

                    <th>Subtotal</th>
                    <th></th>
                </tr>
                @if (Model.ProformaDetalle.Count() != 0)
                {
                    foreach (var item in Model.ProformaDetalle)
                    {
                        <tr>
                            <td style="text-align:center">
                                @item.Productos.Id
                            </td>
                            <td style="text-align:center">
                                @item.Productos.Nombre
                            </td>
                            <td style="text-align:center">
                                @*Otra posible y mejor forma de hacerlo*@
                                @if (Model.IdEstado == 6)
                                {
                                    @item.Cantidad
                                }

                                else
                                {
                                    <input type="number" min="0" id="@item.IdProducto" value="@item.Cantidad" class="form-control" onchange="CambiarCantidadPedida(@item.IdProducto)" style="text-align:center" />
                                    <input type="hidden" value="@item.IdProforma" id="idProforma" />
                                }
                            </td>
                            <td style="text-align:center">
                                @item.PrecioUnitario.ToString("0,#.00")
                            </td>
                            <td style="text-align:center">
                                @item.Productos.Impuesto%
                            </td>
                            @if (user.Rol == 3)
                            {
                                <td style="text-align:center">
                                    @item.Descuento %
                                </td>
                            }
                            else
                            {
                                <td style="text-align:center">
                                    <input type="number" min="0" value="@item.Descuento" class="form-control" onchange="x(this.value,@item.IdProducto, @item.IdProforma)" id="descuento" style="text-align:center" />
                                </td>
                            }
                            <td style="text-align:center">
                                @{


                                    double precioBase = item.PrecioUnitario;
                                    double precioConIVA = precioBase * ((Convert.ToDouble(item.Productos.Impuesto) / 100) + 1);
                                    double precioConDescuento = precioConIVA - (precioConIVA * (item.Descuento / 100));
                                    double iva = precioConDescuento - (precioConDescuento / ((Convert.ToDouble(item.Productos.Impuesto) / 100) + 1));
                                    double descuento = precioBase - (precioConDescuento - iva);
                                    double subTotal = precioBase + iva - descuento;
                                    double sub = Math.Round(subTotal * item.Cantidad);

                                }
                                @sub.ToString("0,#.00")
                            </td>
                            <td style="text-align:center">
                                <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="remplace" data-ajax-update="#carritoAjax" href="@Url.Action("EliminarProdProforma", "Proformas", new { idD = item.Id, idProforma = item.IdProforma })" class="btn btn-danger btn-block">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>

                    }
                    <tr style="text-align:center">
                        <td colspan="5"></td>
                        <th colspan="2">
                            <label>Descuento Total</label>
                        </th>
                        <th colspan="2">
                            @if (Model.TotalDescuento == 0 || ViewBag.TotalDescuento == null)
                            {
                                <label>0,00</label>
                            }
                            else
                            {
                                <label>@Math.Round(Model.TotalDescuento).ToString("0,#.00")</label>
                            }

                        </th>
                    </tr>
                    <tr style="text-align:center">
                        <td colspan="5"></td>
                        <th colspan="2">
                            <label>Total de Impuestos</label>
                        </th>
                        <th colspan="2">
                            @if (Model.TotalImpuesto == 0)
                            {
                                <label>0,00</label>
                            }
                            else
                            {
                                <label>@Math.Round(Model.TotalImpuesto).ToString("0,#.00")</label>
                            }
                        </th>
                    </tr>
                    <tr style="text-align:center">
                        <td colspan="5"></td>
                        <th colspan="2">
                            <label>Total a Pagar</label>
                        </th>
                        <th colspan="2">
                            @if (Model.TotalPagar == 0)
                            {
                                <label>0,00</label>
                            }
                            else
                            {
                                <label>@Math.Round(Model.TotalPagar).ToString("0,#.00")</label>
                            }
                        </th>
                    </tr>
                }
                else
                {
                    <tr style="text-align: center">
                        <td colspan="7">Ningún producto encontrado</td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <br />
    <script>
                            var cant = @Model.ProformaDetalle.Count();
    </script>
    @if (Model.ProformaDetalle.Count == 0)
    {
        <div>
            <div class="card bg-light mb-12">
                <div class="card-body">
                    @if (user.Rol == 3)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-info btn-block" disabled style="margin:5px"><i class="fa fa-line-chart" style="margin-right: 5px"></i>Solicitar Revaloración de Precios</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-danger btn-block" disabled style="margin:5px"><i class="fa fa-file-pdf-o" style="margin-right: 5px"></i>Exportar a PDF</button>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-danger btn-block" disabled style="margin:5px"><i class="fa fa-file-pdf-o" style="margin-right: 5px"></i>Exportar a PDF</button>
                            </div>
                            <div class="col-md-6">
                                <a class="btn btn-success btn-block disabled" href="@Url.Action("ConvertiraPedido", new { id = Model.Id })" disabled="disabled" style="margin:5px">
                                    <i class="fa fa-send-o" style="margin-right: 5px"></i>  Convertir a Pedido
                                </a>
                            </div>
                        </div>
                    }

                </div>

            </div>
        </div>
    }
    else
    {
        <div class="card bg-light mb-12" style="">
            <div class="card-body">
                @if (user.Rol == 3)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-info btn-block" href="@Url.Action("EnviarRevaloracion", new { id = Model.Id })" style="margin:5px">
                                <i class="fa fa-line-chart" style="margin-right: 5px"></i>  Solicitar Revaloración de Precios
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-danger btn-block" href="@Url.Action("PDF", new { id = Model.Id })" target="_blank" style="margin:5px">
                                <i class="fa fa-file-pdf-o" style="margin-right: 5px"></i>  Exportar a PDF
                            </a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-md-6">
                            <a class="btn btn-danger btn-block" href="@Url.Action("PDF", new { id = Model.Id })" target="_blank" style="margin:5px">
                                <i class="fa fa-file-pdf-o" style="margin-right: 5px"></i>  Exportar a PDF
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-success btn-block" href="@Url.Action("ConvertiraPedido",new { id = Model.Id } )" style="margin:5px">
                        <i class="fa fa-send-o" style="margin-right: 5px"></i>  Convertir a Pedido
                    </a>
                            @*<button class="btn btn-success btn-block" id="convertir" style="margin:5px">
                                <i class="fa fa-send-o" style="margin-right: 5px"></i>  Convertir a Pedido
                            </button>*@
                        </div>
                    </div>
                }
            </div>

        </div>
    }
</div>

<script>
function CambiarCantidadPedida(id) {
var cantidad = $('#' + id).val();
var idProforma = $("#idProforma").val();

var dataObject = JSON.stringify({
'terminoBusqueda': cantidad,
'id': id,
'idProforma': idProforma

})
var objeto = new Object();
objeto.terminoBusqueda = cantidad;
objeto.id = id;
objeto.idProforma = idProforma

var url = "@Url.Action("CambiarCantidadPedida", "Proformas")";
var data = { terminoBusqueda: cantidad, id: id, idProforma: idProforma };
$.post(url, data).done(function (data) {
$("#carritoAjax").html(data);
})
}
</script>


@if (Session["Proforma"] != null)
{
    switch (Session["Proforma"])
    {

        case "Producto es inválido. Digite un código de producto nuevamente":
            <script type="text/javascript">
                function ProductoInvalido() {
                    Swal.fire({
                        title: 'Producto es inválido. Digite un código de producto nuevamente',
                        icon: 'error',
                        toast: false,
                        timer: 4000,
                        timerProgressBar: true
                    });
                };
                ProductoInvalido();
            </script>
            Session["Proforma"] = null;
            break;
        case "Debe digitar una cantidad mayor a 0":
            <script type="text/javascript">
                function ProductoCantidad() {
                    Swal.fire({
                        title: 'Debe digitar una cantidad mayor a 0',
                        icon: 'error',
                        toast: false,
                        timer: 4000,
                        timerProgressBar: true
                    });
                };
                ProductoCantidad();
            </script>
            Session["Proforma"] = null;
            break;


        case "La cantidad en inventario es menor a la requerida":
            <script type="text/javascript">
                function ProductoInvalido() {
                    Swal.fire({
                        title: 'La cantidad en inventario es menor a la requerida',
                        icon: 'error',
                        toast: false,
                        timer: 4000,
                        timerProgressBar: true
                    });
                };
                ProductoInvalido();
            </script>
            Session["Proforma"] = null;
            break;
        default:
            break;
    }
}