@model Sistema_JYR.Models.Proformas

<div class="container">

    <div id="carritoAjax">
        <div class="card bg-light mb-12">
            <div class="card-header">Materiales en la Proforma</div>
            <div class="card-body">
                <table class="table">
                    <tr style="text-align:center">
                        <th style="text-align:center">
                            Id
                        </th>
                        <th style="text-align:center">
                            Producto
                        </th>
                        <th>
                            Cantidad
                        </th>

                        <th>
                            Precio Unitario
                        </th>
                        <th>
                            Descuento
                        </th>

                        <th>Subtotal</th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.ProformaDetalle)
                    {
                        <tr>
                            <td style="text-align:center">
                                @item.Productos.Id
                            </td>
                            <td style="text-align:center">
                                @item.Productos.Nombre
                            </td>
                            <td style="text-align:center">
                                @*Otra posible y mejor forma de hacerlo*@
                                <input type="number" min="0" id="@item.IdProducto" value="@item.Cantidad" class="form-control" onchange="CambiarCantidadPedida(@item.IdProducto)" />
                                <input type="hidden" value="@item.IdProforma" id="idProforma" />
                                <script>
                                            function CambiarCantidadPedida(id) {
                                                var cantidad = $('#' + id).val();
                                                var idProforma = $("#idProforma").val();

                                                var dataObject = JSON.stringify({
                                                    'terminoBusqueda': cantidad,
                                                    'id': id,
                                                    'idProforma': idProforma

                                        })
                                                var objeto = new Object();
                                                objeto.terminoBusqueda = cantidad;
                                                objeto.id = id;
                                                objeto.idProforma = idProforma

                                                var url = "@Url.Action("CambiarCantidadPedida", "Proformas")";
                                                var data = { terminoBusqueda: cantidad, id: id, idProforma: idProforma };
                                        $.post(url, data).done(function (data) {
                                            $("#carritoAjax").html(data);

                                        })
                                    }
                                </script>
                            </td>


                            <td style="text-align:center">
                                @item.PrecioUnitario
                            </td>
                            <td style="text-align:center">
                                @item.Descuento
                            </td>
                            <td style="text-align:center">
                                ₡@(item.PrecioUnitario * item.Cantidad)
                            </td>
                            <td style="text-align:center">

                                @Ajax.ActionLink("Eliminar", "EliminarProdProforma", "Proformas", new { idD = item.Id, idProforma = item.IdProforma }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "carritoAjax", InsertionMode = InsertionMode.Replace }, htmlAttributes: new { @class = "btn btn-success btn-block" })
                            </td>
                        </tr>

                    }
                    <tr>
                        <td colspan="3"></td>
                        <th>
                            <label>Total Descuento</label>
                        </th>
                        <th>
                            <label>₡@ViewBag.TotalDescuento</label>
                        </th>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <th>
                            <label>Total Impuesto</label>
                        </th>
                        <th>
                            <label>₡@ViewBag.TotalImpuesto</label>
                        </th>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <th>
                            <label>Total Pagar</label>
                        </th>
                        <th>
                            <label>₡@ViewBag.TotalPagar</label>
                        </th>
                    </tr>


                </table>
            </div>
        </div>
    </div>



</div>

@if (Session["Proforma"] != null)
{
    switch (Session["Proforma"])
    {

        case "Producto es inválido. Digite un código de producto nuevamente":
            <script type="text/javascript">
                function ProductoInvalido() {
                    Swal.fire({
                        title: 'Producto es inválido. Digite un código de producto nuevamente',
                        icon: 'error',
                        toast: false,
                        timer: 4000,
                        timerProgressBar: true
                    });
                };
                ProductoInvalido();
            </script>
            Session["Proforma"] = null;
            break;
        case "Debe digitar una cantidad mayor a 0":
            <script type="text/javascript">
                function ProductoCantidad() {
                    Swal.fire({
                        title: 'Debe digitar una cantidad mayor a 0',
                        icon: 'error',
                        toast: false,
                        timer: 4000,
                        timerProgressBar: true
                    });
                };
                ProductoCantidad();
            </script>
            Session["Proforma"] = null;
            break;
        default:
            break;
    }
}