@model Sistema_JYR.Models.Proformas
@using Microsoft.AspNet.Identity
@using Sistema_JYR.Models

@{
    ViewBag.Title = "Editar Proforma";
    Sistema_JYR.Models.AspNetUsers usuario = new AspNetUsers();
    SistemaJYREntities db = new SistemaJYREntities();
    string id = HttpContext.Current.User.Identity.GetUserId();
    usuario = db.AspNetUsers.Where(x => x.Id == id).First();
}

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> @Html.ActionLink("Inicio", "Index", "Home") </li>
        <li class="breadcrumb-item active">@Html.ActionLink("Mantenimientos", "Mantenimientos", "Home")</li>
        <li class="breadcrumb-item active">@Html.ActionLink("Proformas", "Mantenimientos", "Home")</li>
        <li class="breadcrumb-item active"> @Html.ActionLink("Mantenimiento Proformas", "Index", "Proformas")</li>
        <li class="breadcrumb-item active">Editar Proforma</li>
    </ol>
</div>

<div class="container">
    <h4>Editar Proforma No.  @ViewBag.Id</h4>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal" style="margin-bottom: 100px">

            <div class="row">
                <div class="col-lg-6">
                    <p>Actualiza la información de la proforma</p>
                </div>
                <div class="col-lg-6">
                    <a class="btn btn-outline-dark btn-block" href="@Url.Action("Index")">
                        <i class="fa fa-arrow-left"></i> Volver
                    </a>
                </div>
            </div>
            <hr />
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <h5>Encabezado</h5>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-12">
                                @Html.Hidden("Fecha", Model.Fecha)
                                <div class="form-group has-feedback">
                                    <i class="fa fa-calendar-o form-control-feedback"></i>
                                    @Html.HiddenFor(model => model.Fecha)
                                    @Html.TextBox("Date", Model.Fecha.ToString("dd/MM/yyyy"), new { @class = "form-control", @readonly = true })
                                </div>

                            </div>
                        </div>

                        <div id="divCliente">
                            @Html.Hidden("IdCliente", Model.IdCliente)
                            @Html.Hidden("NombreCliente", Model.NombreCliente)
                            <div class="form-group container">
                                @Html.LabelFor(model => model.NombreCliente, "Nombre del Cliente", htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.TextBox("Nombre", Model.NombreCliente, new { disabled = "disabled", @class = "form-control", @id = "NombreCliente" })
                                        @Html.ValidationMessageFor(model => model.NombreCliente, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DireccionEntrega, "Dirección de entrega", htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    <div class="form-group has-feedback">
                                        @Html.TextBoxFor(model => model.DireccionEntrega, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.DireccionEntrega, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        @if (usuario.Rol == 1)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.IdUsuario, "Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-12">
                                    @Html.DropDownList("IdUsuario", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IdUsuario, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.IdUsuario, "Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-12">
                                    @Html.DropDownList("IdUsuario", null, htmlAttributes: new { disabled = "disabled", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IdUsuario, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }


                        <div class="form-group">
                            @Html.LabelFor(model => model.IdEstado, "Estado", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.DropDownList("IdEstado", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IdEstado, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group container">
                            @Html.LabelFor(model => model.NombreProforma, "Nombre de la Proforma", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.TextBoxFor(model => model.NombreProforma, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.NombreProforma, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" value="Guardar" class="btn btn-success btn-block"> <i class="fa fa-save"></i> Guardar </button>
                    </div>
                </div>

                <hr />
                <h5>Productos</h5>

                <div id="detalleAjax" class="row container">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("", "Agregar Producto", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="nuevoId" placeholder="Código Producto" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">

                            @Html.Label("", "Cantidad", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                <input type="number" min="0" class="form-control" id="cant" placeholder="Cantidad" />

                                @Html.Hidden("IdProforma", Model.Id)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="col-md-12">
                            <input type="button" id="agregar" style="margin-top:32px; background-color:#043443; color:white" value="Agregar" class="form-control" />

                        </div>

                    </div>

                </div>


                <div class="container table-responsive">

                    <div id="carritoAjax">
                        <div class="card bg-light mb-12" style="width:auto">
                            <div class="card-header">Materiales en la Proforma</div>
                            <div class="card-body">
                                <table class="table table-responsive-lg">
                                    <tr style="text-align:center">
                                        <th style="text-align:center">
                                            Id
                                        </th>
                                        <th style="text-align:center">
                                            Producto
                                        </th>
                                        <th>
                                            Cantidad
                                        </th>

                                        <th>
                                            Precio Unitario
                                        </th>
                                        <th>
                                            Impuesto
                                        </th>
                                        <th>
                                            Descuento
                                        </th>

                                        <th>Subtotal</th>
                                        <th></th>
                                    </tr>

                                    @foreach (var item in Model.ProformaDetalle)
                                    {
                                        <tr>
                                            <td style="text-align:center">
                                                @item.Productos.Id
                                            </td>
                                            <td style="text-align:center">
                                                @item.Productos.Nombre
                                            </td>
                                            <td style="text-align:center">
                                                @*Otra posible y mejor forma de hacerlo*@
                                                <input type="number" min="0" id="@item.IdProducto" value="@item.Cantidad" class="form-control" onchange="CambiarCantidadPedida(@item.IdProducto)" style="text-align:center" />
                                                <input type="hidden" value="@item.IdProforma" id="idProforma" />
                                                <script>
                                            function CambiarCantidadPedida(id) {
                                                var cantidad = $('#' + id).val();
                                                var idProforma = $("#idProforma").val();

                                                var dataObject = JSON.stringify({
                                                    'terminoBusqueda': cantidad,
                                                    'id': id,
                                                    'idProforma': idProforma

                                        })
                                                var objeto = new Object();
                                                objeto.terminoBusqueda = cantidad;
                                                objeto.id = id;
                                                objeto.idProforma = idProforma

                                                var url = "@Url.Action("CambiarCantidadPedida", "Proformas")";
                                                var data = { terminoBusqueda: cantidad, id: id, idProforma: idProforma };
                                                $.post(url, data).done(function (data) {
                                                    $("#carritoAjax").html(data);
                                                })
                                           }
                                                </script>
                                            </td>


                                            <td style="text-align:center">
                                                ₡@item.PrecioUnitario.ToString("0,#.00")
                                            </td>
                                            <td style="text-align:center">
                                                @item.Productos.Impuesto%
                                            </td>
                                            <td style="text-align:center">
                                                @if (item.Descuento == 0)
                                                {
                                                    <label>₡0,00</label>
                                                }
                                                else
                                                {
                                                    <label>₡ @item.Descuento.ToString("0,#.00")</label>
                                                }

                                            </td>
                                            <td style="text-align:center">
                                                @{var sub = item.PrecioUnitario * item.Cantidad;}
                                                ₡@sub.ToString("0,#.00")
                                            </td>
                                            <td style="text-align:center">

                                                @Ajax.ActionLink("Eliminar", "EliminarProdProforma", "Proformas", new { idD = item.Id, idProforma = item.IdProforma }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "carritoAjax", InsertionMode = InsertionMode.Replace }, htmlAttributes: new { @class = "btn btn-danger btn-block" })
                                            </td>
                                        </tr>

                                    }
                                    <tr style="text-align:center">
                                        <td colspan="4"></td>
                                        <th colspan="2">
                                            <label>Descuento Total</label>
                                        </th>
                                        <th colspan="2">
                                            @if (Model.TotalDescuento == 0 || ViewBag.TotalDescuento == null)
                                            {
                                                <label>₡0,00</label>
                                            }
                                            else
                                            {
                                                <label>₡ @Model.TotalDescuento.ToString("0,#.00")</label>
                                            }

                                        </th>
                                    </tr>
                                    <tr style="text-align:center">
                                        <td colspan="4"></td>
                                        <th colspan="2">
                                            <label>Total de Impuestos</label>
                                        </th>
                                        <th colspan="2">
                                            @if (Model.TotalImpuesto == 0 || Model.TotalImpuesto == null)
                                            {
                                                <label>₡0,00</label>
                                            }
                                            else
                                            {
                                                <label>₡ @Model.TotalImpuesto.ToString("0,#.00")</label>
                                            }
                                        </th>
                                    </tr>
                                    <tr style="text-align:center">
                                        <td colspan="4"></td>
                                        <th colspan="2">
                                            <label>Total a Pagar</label>
                                        </th>
                                        <th colspan="2">
                                            @if (Model.TotalPagar == 0 || Model.TotalPagar == null)
                                            {
                                                <label>₡0,00</label>
                                            }
                                            else
                                            {
                                                <label>₡ @Model.TotalPagar.ToString("0,#.00")</label>
                                            }
                                        </th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="container">
    <div class="card bg-light mb-12" style="margin-top:-7%">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-danger btn-block"><i class="fa fa-file-pdf-o"></i>Exportar a PDF</button>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-success btn-block" href="@Url.Action("ConvertiraPedido", new { id = Model.Id })">
                        <i class="fa fa-send-o"></i>  Convertir a Pedido
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {

    <script>
        $(function () {
            $("#agregar").click(function () {
                var cantidad = $("#cant").val();
                var idProforma = $("#IdProforma").val();
                var idProducto = $("#nuevoId").val();

                var dataObject = JSON.stringify({
                    'cantidad': cant,
                    'idProforma': idProforma,
                    'idProducto': idProducto,
                })
                var objeto = new Object();
                objeto.cantidad = cantidad;
                objeto.idProforma = idProforma;
                objeto.idProducto = idProducto;

                var url = "@Url.Action("AgregarDetalle","Proformas")";
                var data = { idProforma, idProducto, cantidad };

                $.post(url, data).done(function (data) {
                    $("#carritoAjax").html(data);
                    $("#cant").val("");
                    $("#nuevoId").val("");

                })
            })
        })
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}


@if (Session["Proforma"] != null)
{
    switch (Session["Proforma"])
    {

        case "Producto es inválido. Digite un código de producto nuevamente":
            <script type="text/javascript">
                function ProductoInvalido() {
                    Swal.fire({
                        title: 'Producto es inválido. Digite un código de producto nuevamente',
                        icon: 'error',
                        toast: false,
                        timer: 4000,
                        timerProgressBar: true
                    });
                };
                ProductoInvalido();
            </script>
            Session["Proforma"] = null;
            break;
        case "Debe digitar una cantidad mayor a 0":
            <script type="text/javascript">
                function ProductoCantidad() {
                    Swal.fire({
                        title: 'Debe digitar una cantidad mayor a 0',
                        icon: 'error',
                        toast: false,
                        timer: 4000,
                        timerProgressBar: true
                    });
                };
                ProductoCantidad();
            </script>
            Session["Proforma"] = null;
            break;
        default:
            break;
    }
}
