@model List<Sistema_JYR.Models.Proformas>
@using Sistema_JYR.Models.Session

@{
    ViewBag.Title = "Revaloración";
}


<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> @Html.ActionLink("Inicio", "Index", "Home") </li>
        <li class="breadcrumb-item active">Revaloración</li>
    </ol>
</div>

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h2><i class="fa fa-list-ul" style="margin-right: 2px"></i>Proformas en Revaloración</h2>
        </div>
    </div>
</div>
<br />

<div class="container" style="text-align: center" id="divProformas">
    <table class="table table-striped table-hover table-bordered table-responsive-lg">

        <tr>
            <th>
                Número
            </th>

            <th>
                Fecha
            </th>
            <th>
                Nombre
            </th>

            <th>
                Vendedor
            </th>

            <th>
                Descuento
            </th>
            <th>
                Impuestos
            </th>
            <th>
                Total
            </th>
            <th>
                Acciones
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @item.Fecha.ToString("dd/M/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreProforma)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.Cedula)
                </td>

                <td>

                    @if (item.TotalDescuento == 0)
                    {
                        <label>₡0,00</label>
                    }
                    else
                    {
                        <label>₡@item.TotalDescuento.ToString("0,#.00")</label>
                    }
                </td>
                <td>
                    @if (item.TotalImpuesto == 0)
                    {
                        <label>₡0,00</label>
                    }
                    else
                    {
                        <label>₡@item.TotalImpuesto.ToString("0,#.00")</label>
                    }
                </td>
                <td>

                    @if (item.TotalPagar == 0)
                    {
                        <label>₡0,00</label>
                    }
                    else
                    {
                        <label> ₡@item.TotalPagar.ToString("0,#.00")</label>
                    }
                </td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-info" href="@Url.Action("RevalorarProforma",new { id = item.Id})">
                            <i class="fa fa-line-chart"></i>Revalorar
                        </a>
                        <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="@Url.Action("DetailsRevaloracion",new { id = item.Id})">
                                <i class="fa fa-info-circle"></i>Detalles
                            </a>
                        </div>
                    </div>

                </td>
            </tr>
        }    @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="9">
                    No hay elementos
                </td>
            </tr>
        }
    </table>
</div>



@if (Session["Proforma"] != null)
{
    switch (Session["Proforma"])
    {
        case "No existe la proforma":
            <script type="text/javascript">
                function ProformaNull() {
                    Swal.fire({
                        title: 'No existe la proforma',
                        icon: 'warning',
                        toast: false,
                        timer: 4000,
                        timerProgressBar: true
                    });
                };
                ProformaNull();
            </script>
            Session["Proforma"] = null;
            break;
        case "Revalorada":
            <script type="text/javascript">
                function ProformaNull() {
                    Swal.fire({
                        title: 'La revaloración ha sido enviada al cliente correctamente',
                        icon: 'success',
                        toast: false,
                        timer: 4000,
                        timerProgressBar: true
                    });
                };
                ProformaNull();
            </script>
            Session["Proforma"] = null;
            break;
        default:
            break;
    }
}