@model Sistema_JYR.Models.Proformas
@using Microsoft.AspNet.Identity
@using Sistema_JYR.Models

@{
    ViewBag.Title = "Revaloración de Proforma";

    Sistema_JYR.Models.AspNetUsers usuario = new AspNetUsers();
    SistemaJYREntities db = new SistemaJYREntities();
    string id = HttpContext.Current.User.Identity.GetUserId();
    usuario = db.AspNetUsers.Where(x => x.Id == id).First();
    Sistema_JYR.Models.AspNetUsers user = db.AspNetUsers.Find(id);
}

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> @Html.ActionLink("Inicio", "Index", "Home") </li>
        <li class="breadcrumb-item active">@Html.ActionLink("Revaloración", "Revaloracion", "Proformas", new { })</li>
        <li class="breadcrumb-item active">Revaloración Proforma</li>
    </ol>
</div>

<div class="container">
    <h4>Editar Proforma No.  @ViewBag.Id</h4>
    @using (Html.BeginForm())
    {

        <div class="form-horizontal" style="margin-bottom: 100px">

            <div class="row">
                <div class="col-lg-6">
                    <p>Actualiza la información de la proforma</p>
                </div>
                <div class="col-lg-6">
                    <a class="btn btn-outline-dark btn-block" href="@Url.Action("Revaloracion",new {  })">
                        <i class="fa fa-arrow-left"></i> Volver
                    </a>
                </div>
            </div>
            <hr />
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <h5>Encabezado</h5>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-12">
                                @Html.Hidden("Fecha", Model.Fecha)
                                <div class="form-group has-feedback">
                                    <i class="fa fa-calendar-o form-control-feedback"></i>
                                    @Html.HiddenFor(model => model.Fecha)
                                    @Html.TextBox("Date", Model.Fecha.ToString("dd/MM/yyyy"), new { @class = "form-control", @readonly = true })
                                </div>

                            </div>
                        </div>

                        <div id="divCliente">
                            @Html.Hidden("IdCliente", Model.IdCliente)
                            @Html.Hidden("NombreCliente", Model.NombreCliente)
                            <div class="form-group container">
                                @Html.LabelFor(model => model.NombreCliente, "Nombre del Cliente", htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.TextBox("Nombre", Model.NombreCliente, new { disabled = "disabled", @class = "form-control", @id = "NombreCliente" })
                                        @Html.ValidationMessageFor(model => model.NombreCliente, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DireccionEntrega, "Dirección de entrega", htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    <div class="form-group has-feedback">
                                        @Html.TextBoxFor(model => model.DireccionEntrega, new { @class = "form-control", @readonly = true })
                                        @Html.ValidationMessageFor(model => model.DireccionEntrega, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">


                        <div class="form-group">
                            @Html.LabelFor(model => model.IdEstado, "Estado", htmlAttributes: new { @class = "control-label col-md-12" })
                            @Html.Hidden("IdEstado", 2)
                            <div class="col-md-12">
                                @Html.DropDownList("IdEstado", null, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.IdEstado, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group container">
                            @Html.LabelFor(model => model.NombreProforma, "Nombre de la Proforma", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.TextBoxFor(model => model.NombreProforma, new { @class = "form-control", @readonly = true })
                                    @Html.ValidationMessageFor(model => model.NombreProforma, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div id="Documentos" style="border: 1px solid lightgray; padding: 5px">
                        <h6 style="padding: 5px">Proformas adjuntas</h6>
                        <hr />
                        @{
                            List<Documentos> documentos = db.Documentos.Where(x => x.IdProforma == Model.Id).ToList();
                        }
                        @if (documentos.Count != 0)
                        {
                            <div class="row" style="padding: 15px">
                                @foreach (var item in documentos)
                                {

                                    <div class="col-md-2" style="overflow:hidden; text-align: center; color: red">
                                        <a href="@Url.Action("PDFD", new { id = item.Id })">
                                            <i class="fa fa-file-pdf-o" style="color: red !important; font-size:100px"></i>
                                            <br />
                                            @item.Descripcion
                                        </a>
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="container" style="text-align: center; padding: 25px">
                                <h7>Ningún adjunto</h7>
                            </div>

                        }
                    </div>
                </div>

                <hr />
                <h5 id="PRO">Productos</h5>
                <div class="container table-responsive">

                    <div id="carritoAjax">
                        <div class="card bg-light mb-12" style="width:auto">
                            <div class="card-header">Materiales en la Proforma - Moneda: Colones ( ¢ )</div>
                            <div class="card-body">
                                <table class="table table-responsive-lg">
                                    <tr style="text-align:center">
                                        <th style="text-align:center">
                                            Id
                                        </th>
                                        <th style="text-align:center">
                                            Producto
                                        </th>
                                        <th>
                                            Cantidad
                                        </th>

                                        <th>
                                            Precio Unitario
                                        </th>
                                        <th>
                                            Impuesto
                                        </th>
                                        <th>
                                            Descuento
                                        </th>
                                        <th>Subtotal</th>

                                    </tr>

                                    @if (Model.ProformaDetalle.Count() != 0)
                                    {

                                        foreach (var item in Model.ProformaDetalle)
                                        {
                                            <tr style="text-align: center">
                                                <td style="text-align:center">
                                                    @item.Productos.Id
                                                </td>
                                                <td style="text-align:center">
                                                    @item.Productos.Nombre
                                                </td>
                                                <td>
                                                    @item.Cantidad
                                                </td>
                                                <td style="text-align:center">
                                                    <input type="number" min="0" value="@item.PrecioUnitario" class="form-control" onchange="cambiarPrecio(this.value,@item.IdProducto, @item.IdProforma)" id="precio" style="text-align: center" />
                                                </td>
                                                <td style="text-align:center">
                                                    @item.Productos.Impuesto%
                                                </td>
                                                @if (user.Rol == 3)
                                                {
                                                    <td style="text-align:center">
                                                        @item.Descuento %
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td style="text-align:center">
                                                        <input type="number" min="0" value="@item.Descuento" class="form-control" onchange="cambiarDescuento(this.value,@item.IdProducto, @item.IdProforma)" id="descuento" style="text-align:center" />
                                                    </td>
                                                }
                                                <td style="text-align:center">
                                                    @{


                                                        double precioBase = item.PrecioUnitario;
                                                        double precioConIVA = precioBase * ((Convert.ToDouble(item.Productos.Impuesto) / 100) + 1);
                                                        double precioConDescuento = precioConIVA - (precioConIVA * (item.Descuento / 100));
                                                        double iva = precioConDescuento - (precioConDescuento / ((Convert.ToDouble(item.Productos.Impuesto) / 100) + 1));
                                                        double descuento = precioBase - (precioConDescuento - iva);
                                                        double subTotal = precioBase + iva - descuento;
                                                        double sub = Math.Round(subTotal * item.Cantidad);

                                                    }
                                                    @sub.ToString("0,#.00")
                                                </td>

                                            </tr>

                                        }
                                        <tr style="text-align:center">
                                            <td colspan="4"></td>
                                            <th colspan="2">
                                                <label>Descuento Total</label>
                                            </th>
                                            <th colspan="2">
                                                @if (Model.TotalDescuento == 0)
                                                {
                                                    <label>0,00</label>
                                                }
                                                else
                                                {
                                                    <label>@Math.Round(Model.TotalDescuento).ToString("0,#.00")</label>
                                                }

                                            </th>
                                        </tr>
                                        <tr style="text-align:center">
                                            <td colspan="4"></td>
                                            <th colspan="2">
                                                <label>Total de Impuestos</label>
                                            </th>
                                            <th colspan="2">
                                                @if (Model.TotalImpuesto == 0)
                                                {
                                                    <label>0,00</label>
                                                }
                                                else
                                                {
                                                    <label>@Math.Round(Model.TotalImpuesto).ToString("0,#.00")</label>
                                                }
                                            </th>
                                        </tr>
                                        <tr style="text-align:center">
                                            <td colspan="4"></td>
                                            <th colspan="2">
                                                <label>Total a Pagar</label>
                                            </th>
                                            <th colspan="2">
                                                @if (Model.TotalPagar == 0)
                                                {
                                                    <label>0,00</label>
                                                }
                                                else
                                                {
                                                    <label>@Math.Round(Model.TotalPagar).ToString("0,#.00")</label>
                                                }
                                            </th>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr style="text-align: center">
                                            <td colspan="7">Ningún producto encontrado</td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                        <br />
                        <div>
                            @Html.AntiForgeryToken()
                            @Html.Hidden("Id", Model.Id)
                            <div id="Documentos" style="border: 1px solid lightgray; padding: 5px">
                                <h6>Comentario del cliente</h6>
                                <p>@Model.Comentario</p>
                                @{ 
                                    Model.Comentario = "";
                                }
                                @Html.TextAreaFor(Model => Model.Comentario, new { @class = "form*control", rows = "5", style = "width:100%; padding: 5px", placeHolder = "Respuesta" })
                                @*<textarea id="Comentario" name="Comentario" class="form-control" rows="5"></textarea>*@
                            </div>
                        </div>
                        <br />

                        <div>
                            <div class="card bg-light mb-12" style="">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-info btn-block" style="margin:5px">
                                                <i class="fa fa-line-chart" style="margin-right: 5px"></i>  Confirmar Revaloración
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a class="btn btn-danger btn-block" href="@Url.Action("PDF", new { id = Model.Id })" target="_blank" style="margin:5px">
                                                <i class="fa fa-file-pdf-o" style="margin-right: 5px"></i>  Exportar a PDF
                                            </a>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
        function cambiarDescuento(e, id, idP) {
            var descuento = e;
            var productoId = id;
            var proformaId = idP;
            var dataObjeto = JSON.stringify({
                'descuento': descuento,
                'productoId': productoId,
                'proformaId': proformaId
            })
            var objeto = new Object();
            objeto.productoId = productoId;
            objeto.descuento = descuento;
            objeto.proformaId = proformaId;
            var url = "@Url.Action("CambiarDescuentoRevaloracion","Proformas")";
            var datos = { productoId: productoId, descuento: descuento, proformaId: proformaId };
            $.post(url, datos).done(function (datos) {
                $("#carritoAjax").html(datos);
            })
        }
</script>
<script>
        function cambiarPrecio(e, id, idP) {
            var precio = e;
            var productoId = id;
            var proformaId = idP;
            var dataObjeto = JSON.stringify({
                'precio': precio,
                'productoId': productoId,
                'proformaId': proformaId
            })
            var objeto = new Object();
            objeto.productoId = productoId;
            objeto.descuento = descuento;
            objeto.proformaId = proformaId;
            var url = "@Url.Action("CambiarPrecioRevaloracion","Proformas")";
            var datos = { productoId: productoId, precio: precio, proformaId: proformaId };
            $.post(url, datos).done(function (datos) {
                $("#carritoAjax").html(datos);
            })
        }
</script>