@model Sistema_JYR.Models.CategoriasProducto

@{
    ViewBag.Title = "Crear Categoría";
}

    <ol class="breadcrumb container-fluid">
        <li class="breadcrumb-item"> @Html.ActionLink("Inicio", "Index", "Home") </li>
        <li class="breadcrumb-item active">Mantenimientos</li>
        <li class="breadcrumb-item active">Inventario</li>
        <li class="breadcrumb-item">@Html.ActionLink("Mantenimiento Categorías de Producto", "Index", "CategoriasProducto")</li>
        <li class="breadcrumb-item active">Crear Categoría</li>
    </ol>

    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <h2>Crear nueva categoría</h2>
            </div>
            <div class="col col-md-6">
                <a class="btn btn-outline-dark btn-block" href="@Url.Action("Index")">
                    <i class="fa fa-arrow-left"></i> Volver
                </a>
            </div>
        </div>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.Label("Nombre de la Categoría", htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-12">
                        <button type="submit" value="Crear" class="btn btn-success btn-block">
                            <i class="fa fa-save"></i> Crear
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
