@model Sistema_JYR.Models.CategoriasProducto

@{
    ViewBag.Title = "Editar Categoría";
}

    <ol class="breadcrumb container-fluid">
        <li class="breadcrumb-item"> @Html.ActionLink("Inicio", "Index", "Home") </li>
        <li class="breadcrumb-item active">Mantenimientos</li>
        <li class="breadcrumb-item active">Inventario</li>
        <li class="breadcrumb-item">@Html.ActionLink("Categorías de Producto", "Index", "CategoriasProducto")</li>
        <li class="breadcrumb-item active">Editar Categoría</li>
    </ol>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="row">
            <div class="col col-md-6">
                <h2>Editar Categoría</h2>
            </div>
            <div class="col col-md-6">
             
                <a class="btn btn-outline-dark btn-block" href="@Url.Action("Index")">
                    <i class="fa fa-arrow-left"></i> Volver al listado
                </a>
            </div>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col col-lg-12">
                <button type="submit" value="Guardar" class="btn btn-success btn-block"> <i class="fa fa-save"></i> Guardar </button>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
