@model IEnumerable<Sistema_JYR.Models.CategoriasProducto>
@using Sistema_JYR.Models; 

@{
    ViewBag.Title = "Mantenimiento Categorías de Productos";
    List<Productos> products = new List<Productos>();
    SistemaJYREntities db = new SistemaJYREntities();
}

<ol class="breadcrumb container-fluid">
    <li class="breadcrumb-item"> @Html.ActionLink("Inicio", "Index", "Home") </li>
    <li class="breadcrumb-item active">Mantenimientos</li>
    <li class="breadcrumb-item active">Inventario</li>
    <li class="breadcrumb-item active">Mantenimiento Categorías de Producto</li>
</ol>


<div class="row">
    <div class="col-lg-6">
        <h2>Mantenimiento Categorías</h2>
    </div>
    <div class="col-lg-6">
        <a class="btn btn-dark btn-block" href="@Url.Action("Create")">
            <i class="fa fa-plus"></i>  Crear Nueva
        </a>
    </div>
</div>

<div class="container" style="text-align: center">
    <table class="table table-striped table-hover table-bordered table-responsive-lg">
        <tr class="thead-dark">
            <th>
                Nombre
            </th>
            <th>
                Número de ítems
            </th>
            <th>
                Acciones
            </th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @{products = db.Productos.Where(x => x.IdCategoria == item.Id).ToList();}
                @products.Count
            </td>
            <td>
                <a class="btn btn-dark" href="@Url.Action("Edit", new { id = item.Id })">
                    <i class="fa fa-pencil-square-o"></i>  Editar
                </a>
            </td>
        </tr>
                        }

    </table>
</div>
