@model List<Sistema_JYR.Models.Productos>
@using Sistema_JYR.Models.Session
@using Microsoft.AspNet.Identity

@{
    Sistema_JYR.Models.SistemaJYREntities db = new Sistema_JYR.Models.SistemaJYREntities();
    ViewBag.Title = "Productos";
    List<Sistema_JYR.Models.CategoriasProducto> categorias = db.CategoriasProducto.ToList();
    Sistema_JYR.Models.CategoriasProducto cate = new Sistema_JYR.Models.CategoriasProducto();
    cate.Id = 0;
    cate.Descripcion = "Todas";
    categorias.Insert(0, cate);
    SelectList list = new SelectList(categorias, "Id", "Descripcion");


}


<div class="container-fluid">
    <div id="Mensajes">
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="topnav" id="myTopnav">
                <a href="#" class="active" style="text-decoration: none; cursor: default">Filtros</a>
                <input type="number" placeholder="Producto #" id="idProducto" />
                <input type="text" placeholder="Nombre del producto" id="nombreProducto" list="list" />
                @if (ViewBag.Busqueda != null)
                {
            <datalist id="list">
                @foreach (var item in ViewBag.Busqueda)
                {
                    <option value="@item"></option>
                }
            </datalist>
                }
                @Html.DropDownList("idCategoria", list, new { @class = "item", @id = "idCategoria" })
                <input type="button" value="Aplicar" class="btn-dark item" onclick="Filtrar()" style="text-align: center;margin-right: 2px; margin-left: 2px" />
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>
    </div>
    <script>
        function Filtrar() {
            var idProducto = $('#idProducto').val();
            var nombreProducto = $("#nombreProducto").val();
            var idCategoria = $("#idCategoria").val();

            var dataObject = JSON.stringify({
                'productoId': idProducto,
                'nombreProducto': nombreProducto,
                'idCategoria': idCategoria
            })

            var objeto = new Object();
                objeto.productoId = idProducto;
                objeto.nombreProducto = nombreProducto;
            objeto.idcategoria = idCategoria;

            var url = "@Url.Action("FiltrarProductos", "Productos")";
            var data = { productoId: idProducto, nombreProducto: nombreProducto, idCategoria: idCategoria };
            $.post(url, data).done(function (data) {
                $("#divProductos").html(data);
            })
        }
    </script>

    <br />
    <br />
    <div id="divProductos">
        @if (ViewBag.Recomendacion != null)
        {
            <div id="wrap">
                <h3 class="wow animate__animated animate__fadeInLeft"><i class="fa fa-thumbs-o-up" style="margin-right: 10px"></i>Recomendaciones</h3>
                <hr />
                <div id="columns" class="columns_4">
                    @foreach (var item in ViewBag.Recomendacion)
                    {
                        <figure style="text-align: center" class="wow animate__animated animate__fadeInRight">
                            <img src="@Url.Action("getImage", "Productos", new { id = item.Id })">
                            <figcaption>@item.Nombre</figcaption>
                            <span class="price">₡@item.Precio</span>
                            <br />
                            <br />
                            <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="remplace" data-ajax-update="#Mensajes" href="@Url.Action("AgregaraDocumento",new { id = item.Id })" class="button"><i class="fa fa-shopping-cart" style="margin-right: 10px"></i><span>Agregar</span></a>
                            <br />
                            <p style="font-size:smaller;color:gray">Producto #@item.Id</p>
                        </figure>
                    }
                </div>
            </div>
        }
        <div id="wrap">
            <h3 class="wow animate__animated animate__fadeInLeft"><i class="fa fa-shopping-cart" style="margin-right: 10px"></i>Lista de Productos</h3>
            <hr />
            <div id="columns" class="columns_4">
                @foreach (var item in Model)
                {
                    <figure style="text-align: center" class="wow animate__animated animate__fadeInRight">
                        <img src="@Url.Action("getImage", "Productos", new { id = item.Id })">
                        <figcaption>@item.Nombre</figcaption>
                        <span class="price">₡@item.Precio</span>
                        <br />
                        <br />
                        <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="remplace" data-ajax-update="#Mensajes" href="@Url.Action("AgregaraDocumento",new { id = item.Id })" class="button"><i class="fa fa-shopping-cart" style="margin-right: 10px"></i><span>Agregar </span></a>
                        <br />
                        <p style="font-size:smaller;color:gray">Producto #@item.Id</p>
                    </figure>
                }
            </div>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>





<script type="text/javascript">
    $(function () {
        $("#nombreProducto").autocomplete({
            source: '@Url.Action("RecomendarBusquedas", "Recomendaciones")',
            minLength: 1
        });
    });
</script>