@model Sistema_JYR.Models.IndexViewModel
@using Microsoft.AspNet.Identity
@using Sistema_JYR.Models
@{
    ViewBag.Title = "Administrar";
    Sistema_JYR.Models.AspNetUsers usuario = new AspNetUsers();
    SistemaJYREntities db = new SistemaJYREntities();
    string id = HttpContext.Current.User.Identity.GetUserId();
    usuario = db.AspNetUsers.Where(x => x.Id == id).First();
    List<Telefonos> telefonos = db.Telefonos.Where(x => x.IdUsuario == id).ToList();
    List<Direcciones> direcciones = db.Direcciones.Where(x => x.IdUsuario == id).ToList();
}

<div class="container" style="padding: 25px">
    <h2>@ViewBag.Title.</h2>
    <h4>Cambiar la configuración de la cuenta</h4>
    <hr />
    <h1>@usuario.Nombre @usuario.Apellido1 @usuario.Apellido2 @(usuario.Rol == 1? " - Administrador ": usuario.Rol == 2? " - Vendedor": "")</h1>
    <dl class="<dl></dl>-horizontal">
        <dt>Correo:</dt>
        <dd>@usuario.UserName</dd>
        <dt>Cédula:</dt>
        <dd>@usuario.Cedula</dd>
        <dt>Contraseña:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Cambiar la contraseña", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Crear", "SetPassword")
            }
        </dd>
        <dt>Inicios de sesión externos:</dt>
        <dd>
            @Html.ActionLink("Administrar", "ManageLogins")
            | @Model.Logins.Count Sincronizados
        </dd>

        <dt>Número de teléfono:</dt>
        @if (telefonos != null)
        {

            <dd class="">
                <table>
                    @foreach (var item in telefonos)
                    {
                        <tr>
                            <td style="min-width: 100px">
                                @item.Propietario
                            </td>
                            <td style="min-width: 100px">
                                @item.Telefono
                            </td>
                            <td>
                                @Html.ActionLink("Eliminar", "EliminarTelefono", new { @id = item.Id }, new { @class = "btn btn-outline-danger" })
                            </td>
                        </tr>
                    }
                </table>
            </dd>
        }
        else
        {
            <dd>Ningún teléfono asociado</dd>
        }

        @Html.ActionLink("Agregar", "AddPhoneNumber")
        <dt>Direcciones de entrega</dt>
        @if (direcciones.Count != 0)
        {
            <dd class="">
                <table>
                    @foreach (var item in direcciones)
                    {
                        <tr>
                            <td style="min-width: 100px">
                                @item.Provincia
                            </td>
                            <td style="min-width: 100px">
                                @item.Direccion
                            </td>
                            <td>
                                @Html.ActionLink("Eliminar", "EliminarDireccion", new { @id = item.Id }, new { @class = "btn btn-outline-danger" })
                            </td>
                        </tr>
                    }
                </table>
            </dd>
        }
        else
        {
            <dd>Ningúna dirección asociada</dd>
        }
        @Html.ActionLink("Agregar", "AddDireccion")

    </dl>
</div>
