@model Sistema_JYR.Models.ManageLoginsViewModel
@using Microsoft.Owin.Security
@{
    ViewBag.Title = "Administre sus inicios de sesión externos";
}

<div class="container" style="padding: 25px; margin-bottom: 15%">
    <div class="row">
        <div class="col-sm-6">
            <h2>@ViewBag.Title.</h2>
        </div>
        <div class="col-sm-6">
            <h1></h1>
            <a href="@Url.Action("Index","Manage")" class="btn btn-outline-dark btn-block">
                <i class="fa fa-arrow-left" style="margin-right: 5px"></i> Volver
            </a>
        </div>
    </div>


    <p class="text-success">@ViewBag.StatusMessage</p>
    @{
        var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
        if (loginProviders.Count() == 0)
        {
            <div>
                <p>
                    No existen servicios de autenticación externos configurados. Consulte <a href="https://go.microsoft.com/fwlink/?LinkId=313242">este artículo</a>
                    para obtener información sobre cómo configurar esta aplicación ASP.NET para admitir el inicio de sesión a través de servicios externos.
                </p>
            </div>
        }
        else
        {
            if (Model.CurrentLogins.Count > 0)
            {
                <h4>Inicios de sesión registrados</h4>
                <table class="table" style="text-align: center">
                    <tbody>
                        @foreach (var account in Model.CurrentLogins)
                        {
                            <tr>
                                <td>@account.LoginProvider</td>
                                <td>
                                    @if (ViewBag.ShowRemoveButton)
                                    {
                                        using (Html.BeginForm("RemoveLogin", "Manage"))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div>
                                                @Html.Hidden("loginProvider", account.LoginProvider)
                                                @Html.Hidden("providerKey", account.ProviderKey)
                                                <input type="submit" class="btn btn-outline-danger" value="Quitar" title="Quitar este inicio de sesión @account.LoginProvider de su cuenta" />
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        @: &nbsp;
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            if (Model.OtherLogins.Count > 0)
            {
                using (Html.BeginForm("LinkLogin", "Manage"))
                {
                    var facebook = new Object();
                    var google = new object();
                    @Html.AntiForgeryToken()
                    try
                    {
                        facebook = Model.OtherLogins.Where(x => x.AuthenticationType == "Facebook").First();
                    }
                    catch (Exception)
                    {

                        facebook = null;
                    }

                    try
                    {
                        google = Model.OtherLogins.Where(x => x.AuthenticationType == "Google").First();
                    }
                    catch (Exception)
                    {

                        google = null;
                    }
                    <div id="socialLoginList">
                        @if (facebook != null)
                        {
                            AuthenticationDescription face = (AuthenticationDescription)facebook;
                            <button type="submit" class="btn btn-primary btn-block" id="@face.AuthenticationType" name="provider" value="@face.AuthenticationType" title="Inicie sesión con su cuenta @face.Caption"><i class="fa fa-facebook-f" aria-hidden="true" style="margin-right:5px"></i>Sincronizar con Facebook</button>
                        }
                        @if (google != null)
                        {
                            AuthenticationDescription goo = (AuthenticationDescription)google;
                            <button type="submit" class="btn btn-dark btn-block" id="@goo.AuthenticationType" name="provider" value="@goo.AuthenticationType" title="Inicie sesión con su cuenta @goo.Caption"><i class="fa fa-google" aria-hidden="true" style="margin-right:5px"></i>Sincronizar con Google</button>
                        }

                    </div>
                }
            }
        }
    }
</div>