@model IEnumerable<Sistema_JYR.Models.Pedidos>



    <div class="container-fluid" style="text-align: center" id="divPedidos">
        <table class="table table-striped table-hover table-bordered table-responsive-lg">


            <tr>
                <th>
                    Número
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    Número de proforma
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Vendedor
                </th>

                <th>
                    Descuento
                </th>
                <th>
                    Impuesto
                </th>
                <th>
                    Total
                </th>
                <th>
                    Acciones
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @item.Fecha.ToString("dd/M/yyyy")
                    </td>
                    @if (item.NumeroProforma == null)
                    {

                        <td>
                            N/A
                        </td>

                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.NombrePedido)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.NombrePedido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetUsers.Cedula)
                    </td>
                    <td>

                        @if (item.TotalDescuento == 0)
                        {
                            <label>₡0,00</label>
                        }
                        else
                        {
                            <label>₡@item.TotalDescuento.ToString("0,#.00")</label>
                        }
                    </td>
                    <td>
                        @if (item.TotalImpuesto == 0)
                        {
                            <label>₡0,00</label>
                        }
                        else
                        {
                            <label>₡@item.TotalImpuesto.ToString("0,#.00")</label>
                        }
                    </td>
                    <td>
                        @if (item.TotalPagar == 0)
                        {
                            <label>₡0,00</label>
                        }
                        else
                        {
                            <label> ₡@item.TotalPagar.ToString("0,#.00")</label>
                        }
                    </td>
                    <td>
                        if (Session["Documento"] != null)
                        {
                        if (((Documento)Session["Documento"]).TipoDocumento == TipoDocumento.Pedido)
                        {
                        if (((Documento)Session["Documento"]).NumerosDocumento == item.Id)
                        {
                        <button class="btn btn-dark" disabled>
                            Seleccionar
                        </button>
                        }
                        else
                        {
                        <a class="btn btn-outline-dark" href="@Url.Action("SeleccionarDocumento",new { id = item.Id })">
                            Seleccionar
                        </a>
                        }
                        }
                        else
                        {
                        <a class="btn btn-outline-dark" href="@Url.Action("SeleccionarDocumento",new { id = item.Id })">
                            Seleccionar
                        </a>
                        }
                        }
                        else
                        {
                        <a class="btn btn-outline-dark" href="@Url.Action("SeleccionarDocumento",new { id = item.Id })">
                            Seleccionar
                        </a>
                        }

                        <div class="btn-group">
                            <a class="btn btn-dark" href="@Url.Action("Edit",new { id = item.Id})">
                                <i class="fa fa-pencil-square-o"></i>Editar
                            </a>
                            <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="@Url.Action("Details",new { id = item.Id})">
                                    <i class="fa fa-info-circle"></i>Detalles
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("DuplicarPedido",new { id = item.Id })">
                                    <i class="fa fa-files-o"></i>Duplicar
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("CancelarPedido",new { id = item.Id })" style="color: red">
                                    <i class="fa fa-trash-o"></i>Cancelar Pedido
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            }

            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="9">
                        No hay elementos
                    </td>
                </tr>
            }

        </table>
    </div>