@model Sistema_JYR.Models.Pedidos

<div id="carritoAjax">
    <div class="card bg-light mb-12">
        <div class="card-header">Materiales en la Orden</div>
        <div class="card-body">
            <table class="table table-responsive">
                <tr style="text-align:center">
                    <th style="text-align:center">
                        Id
                    </th>
                    <th style="text-align:center">
                        Producto
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Cantidad Enviada
                    </th>
                    <th>
                        Precio Unitario
                    </th>
                    <th>
                        Impuesto
                    </th>
                    <th>
                        Descuento
                    </th>

                    <th>Subtotal</th>
                    <th></th>
                </tr>

                @foreach (var item in Model.PedidoDetalle)
                {
                    <tr>
                        <td style="text-align:center">
                            @item.Productos.Id
                        </td>
                        <td style="text-align:center">
                            @item.Productos.Nombre
                        </td>
                        <td style="text-align:center">
                            @*Otra posible y mejor forma de hacerlo*@
                            <input type="number" style="text-align:center" min="0" id="@item.IdProducto" value="@item.Cantidad" class="form-control" onchange="CambiarCantidadPedida(@item.IdProducto)" />
                            <input type="hidden" value="@item.IdPedido" id="idPedido" />
                            <script>
                                            function CambiarCantidadPedida(id) {
                                                var cantidad = $('#' + id).val();
                                                var idPedido = $("#idPedido").val();

                                                var dataObject = JSON.stringify({
                                                    'terminoBusqueda': cantidad,
                                                    'id': id,
                                                    'idPedido': idPedido

                                        })
                                                var objeto = new Object();
                                                objeto.terminoBusqueda = cantidad;
                                                objeto.id = id;
                                                objeto.idPedido = idPedido

                                                var url = "@Url.Action("CambiarCantidadPedida", "Pedido")";
                                                var data = { terminoBusqueda: cantidad, id: id, idPedido: idPedido };
                                        $.post(url, data).done(function (data) {
                                            $("#carritoAjax").html(data);

                                        })
                                    }
                            </script>
                        </td>

                        <td style="text-align:center">
                            <input type="number" min="0" style="text-align:center" value="@item.CantidadEnviada" class="form-control" onchange="x(this.value,@item.IdProducto )" id="cantEnviada" />


                            <script>
                                                function x(e, id) {
                                                    var cantidadEnviada = e;
                                                    var productoId = id;
                                                    var pedidoId = $("#idPedido").val();

                                                        var dataObjeto = JSON.stringify({
                                                            'cantidadEnviada': cantidadEnviada,
                                                            'productoId': productoId,
                                                            'pedidoId': pedidoId
                                                        })

                                                        var objeto = new Object();
                                                        objeto.productoId = productoId;
                                                    objeto.cantidadEnviada = cantidadEnviada;
                                                    objeto.pedidoId = pedidoId;
                                                    var url = "@Url.Action("CambiarCantidadEnviada","Pedido")";
                                                    var datos = { productoId: productoId, cantidadEnviada: cantidadEnviada, pedidoId: pedidoId };

                                                        $.post(url, datos).done(function (datos) {
                                                            $("#carritoAjax").html(datos);
                                                        })

                                                }
                            </script>
                        </td>

                        <td style="text-align:center">
                            ₡@item.PrecioUnitario.ToString("0,#.00")
                        </td>
                        <td>
                            @item.Productos.Impuesto%
                        </td>
                        <td style="text-align:center">
                            <input type="number" min="0" style="text-align:center" value="@item.Descuento" class="form-control" onchange="y(@item.IdProducto, @item.IdPedido)" id="descuento" />
                        </td>
                        <td style="text-align:center">
                            @{var sub = (item.PrecioUnitario * item.Cantidad) - (item.Descuento / 100);}
                            ₡@sub.ToString("0,#.00")
                        </td>
                        <td style="text-align:center">

                            @Ajax.ActionLink("Eliminar", "EliminarCarrito", "Pedido", new { idD = item.Id, idPedido = item.IdPedido }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "carritoAjax", InsertionMode = InsertionMode.Replace }, htmlAttributes: new { @class = "btn btn-success btn-block" })
                        </td>
                    </tr>

                }
                <tr style="text-align:center">
                    <td colspan="4"></td>
                    <th colspan="2">
                        <label>Descuento Total</label>
                    </th>
                    <th colspan="2">
                        @if (Model.TotalDescuento == 0 || ViewBag.TotalDescuento == null)
                        {
                            <label>₡0,00</label>
                        }
                        else
                        {
                            <label>₡ @Model.TotalDescuento.ToString("0,#.00")</label>
                        }

                    </th>
                </tr>
                <tr style="text-align:center">
                    <td colspan="4"></td>
                    <th colspan="2">
                        <label>Total de Impuestos</label>
                    </th>
                    <th colspan="2">
                        @if (Model.TotalImpuesto == 0)
                        {
                            <label>₡0,00</label>
                        }
                        else
                        {
                            <label>₡ @Model.TotalImpuesto.ToString("0,#.00")</label>
                        }
                    </th>
                </tr>
                <tr style="text-align:center">
                    <td colspan="4"></td>
                    <th colspan="2">
                        <label>Total a Pagar</label>
                    </th>
                    <th colspan="2">
                        @if (Model.TotalPagar == 0)
                        {
                            <label>₡0,00</label>
                        }
                        else
                        {
                            <label>₡ @Model.TotalPagar.ToString("0,#.00")</label>
                        }
                    </th>
                </tr>
            </table>
        </div>
    </div>
</div>



@if (Session["Pedidos"] != null)
{
    switch (Session["Pedidos"])
    {
        case "Cantidad en inventario menor":
            <script type="text/javascript">
                function CantidadMayor() {
                    Swal.fire({
                        title: 'Error',
                        text: 'La cantidad en inventario es menor a la cantidad requerida',
                        icon: 'error',
                        toast: false,
                        timer: 4000,
                        timerProgressBar: true
                    });
                };
                CantidadMayor();
            </script>
            Session["Pedidos"] = null;
            break;
        case "Debe digitar una cantidad menor a la cantidad":
            <script type="text/javascript">
                function CantidadMayor() {
                    Swal.fire({
                        title: 'Debe digitar una cantidad enviada menor a la cantidad',
                        icon: 'error',
                        toast: false,
                        timer: 4000,
                        timerProgressBar: true
                    });
                };
                CantidadMayor();
            </script>
            Session["Pedidos"] = null;
            break;
        case "Debe digitar una cantidad mayor a la cantidad enviada":
            <script type="text/javascript">
                function CantidadMenor() {
                    Swal.fire({
                        title: 'Debe digitar una cantidad mayor a la cantidad enviada',
                        icon: 'error',
                        toast: false,
                        timer: 4000,
                        timerProgressBar: true
                    });
                };
                CantidadMenor();
            </script>
            Session["Pedidos"] = null;
            break;
        case "Producto es inválido. Digite un código de producto nuevamente":
            <script type="text/javascript">
                function ProductoInvalido() {
                    Swal.fire({
                        title: 'Producto es inválido. Digite un código de producto nuevamente',
                        icon: 'error',
                        toast: false,
                        timer: 4000,
                        timerProgressBar: true
                    });
                };
                ProductoInvalido();
            </script>
            Session["Pedidos"] = null;
            break;
        case "Debe digitar una cantidad mayor a 0":
            <script type="text/javascript">
                function ProductoCantidad() {
                    Swal.fire({
                        title: 'Debe digitar una cantidad mayor a 0',
                        icon: 'error',
                        toast: false,
                        timer: 4000,
                        timerProgressBar: true
                    });
                };
                ProductoCantidad();
            </script>
            Session["Pedidos"] = null;
            break;
        default:
            break;
    }
}
<script>
                                                function y(id, idP) {
                                                    var descuento = $("#descuento").val();;
                                                    var productoId = id;
                                                    var pedidoId = idP;

                                                    var dataObjeto = JSON.stringify({
                                                        'descuento': descuento,
                                                            'productoId': productoId,
                                                            'pedidoId': pedidoId
                                                        })

                                                        var objeto = new Object();
                                                        objeto.productoId = productoId;
                                                    objeto.descuento = descuento;
                                                    objeto.pedidoId = pedidoId;
                                                    var url = "@Url.Action("CambiarDescuento","Pedido")";
                                                    var datos = { productoId: productoId, descuento: descuento, pedidoId: pedidoId };

                                                        $.post(url, datos).done(function (datos) {
                                                            $("#carritoAjax").html(datos);
                                                        })

                                                }
</script>