@model Sistema_JYR.Models.Pedidos


<div class="container">

    <div id="carritoAjax">
        <div class="card bg-light mb-12">
            <div class="card-header">Materiales en la Orden</div>
            <div class="card-body">
                <table class="table">
                    <tr style="text-align:center">
                        <th style="text-align:center">
                            Id
                        </th>
                        <th style="text-align:center">
                            Producto
                        </th>
                        <th>
                            Cantidad
                        </th>
                        <th>
                            Cantidad Enviada
                        </th>
                        <th>
                            Precio Unitario
                        </th>
                        <th>
                            Descuento
                        </th>

                        <th>Subtotal</th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.PedidoDetalle)
                    {
                        <tr>
                            <td style="text-align:center">
                                @item.Productos.Id
                            </td>
                            <td style="text-align:center">
                                @item.Productos.Nombre
                            </td>
                            <td style="text-align:center">
                                @*Otra posible y mejor forma de hacerlo*@
                                <input type="number" min="0" id="@item.IdProducto" value="@item.Cantidad" class="form-control" onchange="CambiarCantidadPedida(@item.IdProducto)" />
                                <input type="hidden" value="@item.IdPedido" id="idPedido" />
                                <script>
                                            function CambiarCantidadPedida(id) {
                                                var cantidad = $('#' + id).val();
                                                var idPedido = $("#idPedido").val();

                                                var dataObject = JSON.stringify({
                                                    'terminoBusqueda': cantidad,
                                                    'id': id,
                                                    'idPedido': idPedido

                                        })
                                                var objeto = new Object();
                                                objeto.terminoBusqueda = cantidad;
                                                objeto.id = id;
                                                objeto.idPedido = idPedido

                                                var url = "@Url.Action("CambiarCantidadPedida", "Pedido")";
                                                var data = { terminoBusqueda: cantidad, id: id, idPedido: idPedido };
                                        $.post(url, data).done(function (data) {
                                            $("#carritoAjax").html(data);

                                        })
                                    }
                                </script>
                            </td>

                            <td style="text-align:center">
                                <input type="number" min="0" value="@item.CantidadEnviada" class="form-control" onchange="x(this.value,@item.IdProducto )" id="cantEnviada" />


                                <script>
                                                function x(e, id) {
                                                    var cantidadEnviada = e;
                                                    var productoId = id;
                                                    var pedidoId = $("#idPedido").val();

                                                        var dataObjeto = JSON.stringify({
                                                            'cantidadEnviada': cantidadEnviada,
                                                            'productoId': productoId,
                                                            'pedidoId': pedidoId
                                                        })

                                                        var objeto = new Object();
                                                        objeto.productoId = productoId;
                                                    objeto.cantidadEnviada = cantidadEnviada;
                                                    objeto.pedidoId = pedidoId;
                                                    var url = "@Url.Action("CambiarCantidadEnviada","Pedido")";
                                                    var datos = { productoId: productoId, cantidadEnviada: cantidadEnviada, pedidoId: pedidoId };

                                                        $.post(url, datos).done(function (datos) {
                                                            $("#carritoAjax").html(datos);
                                                        })

                                                }
                                </script>
                            </td>

                            <td style="text-align:center">
                                @item.PrecioUnitario
                            </td>
                            <td style="text-align:center">
                                @item.Descuento
                            </td>
                            <td style="text-align:center">
                                ₡@(item.PrecioUnitario * item.Cantidad)
                            </td>
                            <td style="text-align:center">

                                @Ajax.ActionLink("Eliminar", "EliminarCarrito", "Pedido", new { idD = item.Id, idPedido = item.IdPedido }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "carritoAjax", InsertionMode = InsertionMode.Replace }, htmlAttributes: new { @class = "btn btn-success btn-block" })
                            </td>
                        </tr>

                    }
                    <tr>
                        <td colspan="3"></td>
                        <th>
                            <label>Total Descuento</label>
                        </th>
                        <th>
                            <label>₡@ViewBag.TotalDescuento</label>
                        </th>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <th>
                            <label>Total Impuesto</label>
                        </th>
                        <th>
                            <label>₡@ViewBag.TotalImpuesto</label>
                        </th>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <th>
                            <label>Total Pagar</label>
                        </th>
                        <th>
                            <label>₡@ViewBag.TotalPagar</label>
                        </th>
                    </tr>


                </table>
            </div>
        </div>
    </div>



</div>
@if (Session["Pedido"] != null)
{
    switch (Session["Pedido"])
    {

        case "Debe digitar una cantidad menor a la cantidad":
            <script type="text/javascript">
                function CantidadMayor() {
                    Swal.fire({
                        title: 'Debe digitar una cantidad enviada menor a la cantidad',
                        icon: 'error',
                        toast: false,
                        timer: 4000,
                        timerProgressBar: true
                    });
                };
                CantidadMayor();
            </script>
            Session["Pedido"] = null;
            break;
        case "Debe digitar una cantidad mayor a la cantidad enviada":
            <script type="text/javascript">
                function CantidadMenor() {
                    Swal.fire({
                        title: 'Debe digitar una cantidad mayor a la cantidad enviada',
                        icon: 'error',
                        toast: false,
                        timer: 4000,
                        timerProgressBar: true
                    });
                };
                CantidadMenor();
            </script>
            Session["Pedido"] = null;
            break;
        case "Producto es inválido. Digite un código de producto nuevamente":
            <script type="text/javascript">
                function ProductoInvalido() {
                    Swal.fire({
                        title: 'Producto es inválido. Digite un código de producto nuevamente',
                        icon: 'error',
                        toast: false,
                        timer: 4000,
                        timerProgressBar: true
                    });
                };
                ProductoInvalido();
            </script>
            Session["Pedido"] = null;
            break;
        case "Debe digitar una cantidad mayor a 0":
            <script type="text/javascript">
                function ProductoCantidad() {
                    Swal.fire({
                        title: 'Debe digitar una cantidad mayor a 0',
                        icon: 'error',
                        toast: false,
                        timer: 4000,
                        timerProgressBar: true
                    });
                };
                ProductoCantidad();
            </script>
            Session["Pedido"] = null;
            break;
        default:
            break;
    }
}