@model Sistema_JYR.Models.Pedidos


@{
    ViewBag.Title = "Detalle Pedido";
    Sistema_JYR.Models.SistemaJYREntities db = new Sistema_JYR.Models.SistemaJYREntities();
    List<Sistema_JYR.Models.Telefonos> tels = db.Telefonos.Where(x => x.IdUsuario == Model.IdCliente).ToList();
}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> @Html.ActionLink("Inicio", "Index", "Home") </li>
        <li class="breadcrumb-item active">@Html.ActionLink("Pedidos de Clientes", "SeguimientoPedidoEmpresa", "Pedido")</li>
        <li class="breadcrumb-item active">Detalle Pedido</li>
    </ol>
</div>

<div class="container">
    <div id="Mensajes">
    </div>
    <h4>Pedido No. @ViewBag.Id</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <h5>Cliente</h5>
            <dl class="dl-horizontal">
                <dt>
                    Nombre del Cliente
                </dt>
                <dd>
                    @Model.NombreCliente
                </dd>
                <dt>
                    Dirección de Entrega
                </dt>
                <dd>
                    @Model.DireccionEntrega
                </dd>
                <dt>
                    Teléfonos
                </dt>
                @if (tels.Count != 0)
                {
                    foreach (var item in tels)
                    {
                        <dd> @item.Propietario - @item.Telefono </dd>
                    }
                }
                else
                {
                    <dd>No hay teléfonos registrados</dd>
                }
            </dl>
        </div>
        <div class="col-md-4">
            <h5>Total</h5>
            <dl class="dl-horizontal">
                <dt>
                    Descuento Total
                </dt>
                <dd>
                    @if (Model.TotalDescuento == 0)
                    {
                        <label>₡0,00</label>
                    }
                    else
                    {
                        <label>₡@Model.TotalDescuento.ToString("0,#.00")</label>
                    }
                </dd>
                <dt>
                    Impuesto Total
                </dt>
                <dd>
                    @if (Model.TotalImpuesto == 0)
                    {
                        <label>₡0,00</label>
                    }
                    else
                    {
                        <label>₡@Model.TotalImpuesto.ToString("0,#.00")</label>
                    }
                </dd>
                <dt>
                    Total a Pagar
                </dt>
                <dd>
                    @if (Model.TotalPagar == 0)
                    {
                        <label>₡0,00</label>
                    }
                    else
                    {
                        <label>₡@Model.TotalPagar.ToString("0,#.00")</label>
                    }
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <h5>Información</h5>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Fecha)
                </dt>

                <dd>
                    @Model.Fecha.ToString("dd/M/yyyy")
                </dd>

                <dt>
                    Estado
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EstadoPedido.Descripcion)
                </dd>
            </dl>
        </div>
    </div>

    <hr />
    <div class="container"><b>Productos</b><br /></div><br />
    <div class="container" style="text-align: center" id="divDetalles">
        <div class="panel panel-default">

            <table class="table table-striped table-hover table-bordered table-responsive-lg">
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Producto
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Cantidad Enviada
                    </th>
                    <th>
                        Precio Unitario
                    </th>
                    <th>
                        Descuento
                    </th>
                    <th>
                        Cantidad a Enviar
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>

                @foreach (var c in Model.PedidoDetalle)
                {
                    <tr>
                        <td>
                            @c.Productos.Id
                        </td>
                        <td>
                            @c.Productos.Nombre
                        </td>
                        <td>
                            @c.Cantidad
                        </td>
                        <td>
                            @c.CantidadEnviada
                        </td>
                        <td>
                            ₡@c.PrecioUnitario
                        </td>
                        <td>
                            ₡@c.Descuento
                        </td>

                        <td>
                            <input type="text" class="form-control" value="" name="@c.Id" id="@c.Id" />
                        </td>
                        <td>
                            <a class="btn btn-outline-dark" onclick="x(@c.Id, @c.IdPedido)">
                                <i class="fa fa-envelope"></i>Enviar
                            </a>

                        </td>

                    </tr>


                }

            </table>
        </div>

    </div>
    <div class="card bg-light mb-12">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-danger btn-block" href="@Url.Action("Pdf", new { id = Model.Id })" target="_blank">
                        <i class="fa fa-file-pdf-o"></i> Exportar a PDF
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-dark btn-block" href="@Url.Action("SeguimientoPedidoEmpresa", "Pedido")">
                        <i class="fa fa-arrow-left"></i> Volver
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

<script >
                                                function x(id, idPedido) {
                                                    var detalleId = id
                                                    var cantEnviada = $('#' + id).val();
                                                    var pedidoId = idPedido;
                                            
                                                        var dataObjeto = JSON.stringify({
                                                            'cantEnviada': cantEnviada,
                                                            'detalleId': detalleId,
                                                            'pedidoId': pedidoId
                                                        })

                                                    var objeto = new Object();
                                                    objeto.detalleId = detalleId;
                                                    objeto.cantEnviada = cantEnviada;
                                                    objeto.pedidoId = pedidoId;
                                                    var url = "@Url.Action("CambiarcantidadAEnviar", "Pedido")";
                                                    var datos = { detalleId: detalleId, cantEnviada: cantEnviada, pedidoId: pedidoId };

                                                        $.post(url, datos).done(function (datos) {
                                                           
                                                            $("#divDetalles").html(datos);
                                                            $('#' + id).val("");
                                                        })

                                                }
</script>


