@model Sistema_JYR.Models.Pedidos

@{
    ViewBag.Title = "Editar Pedido";
}

<ol class="breadcrumb container-fluid">
    <li class="breadcrumb-item"> @Html.ActionLink("Inicio", "Index", "Home") </li>
    <li class="breadcrumb-item active">Mantenimientos</li>
    <li class="breadcrumb-item active">Pedidos</li>
    <li class="breadcrumb-item active">Mantenimiento Pedidos</li>
    <li class="breadcrumb-item active">Editar</li>
</ol>
<div class="container">
    <h4>Editar Pedido No.  @ViewBag.Id</h4>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal" style="margin-bottom: 100px">

            <div class="row">
                <div class="col col-lg-6">
                    <p>Actualiza la información del pedido</p>
                </div>
                <div class="col col-lg-6">
                    <a class="btn btn-outline-dark btn-block" href="@Url.Action("Index")">
                        <i class="fa fa-arrow-left"></i> Volver
                    </a>

                </div>
            </div>
            <div class="form-horizontal">

                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.NumeroProforma)
                @Html.HiddenFor(model => model.Fecha)
                <div class="row">
                    <div class="col col-md-6">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.Fecha, "{0:yyyy/MM/dd}", new { @class = "form-control", @readonly = true })
                                @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.NumeroProforma, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">

                                @if (Model.NumeroProforma == null)
                                {
                                    <input type="text" class="form-control" value="N/A" readonly="readonly">
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.NumeroProforma, "", new { @class = "form-control", @readonly = true })
                                }

                            </div>


                        </div>
                    </div>

                    <div class="col col-md-6">

                        <div class="form-group">
                            @Html.LabelFor(model => model.IdEstado, "Estado", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.DropDownList("IdEstado", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IdEstado, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IdUsuario, "Usuario", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.DropDownList("IdUsuario", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IdUsuario, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </div>

                    <div class="col col-md-12">
                        <button type="submit" value="Guardar" class="btn btn-success btn-block"> <i class="fa fa-save"></i> Guardar </button>
                        <hr />
                    </div>

                </div>


                <div id="detalleAjax" class="row container" >
                    <div class="col col-md-4">
                        <div class="form-group">
                            @Html.Label("", "Agregar Producto", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="nuevoId" placeholder="Código Producto" />
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-4">
                        <div class="form-group">

                            @Html.Label("", "Cantidad", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                <input type="number" min="0" class="form-control" id="cant" placeholder="Cantidad" />

                                @Html.Hidden("IdPedido", Model.Id)
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-4">

                        <div class="col-md-12">
                            <input type="button" id="agregar" style="margin-top:32px; background-color:#043443; color:white" value="Agregar" class="form-control" />

                        </div>

                    </div>

                </div>


                <div class="container">

                    <div id="carritoAjax">
                        <div class="card bg-light mb-12">
                            <div class="card-header">Materiales en la Orden</div>
                            <div class="card-body">
                                <table class="table">
                                    <tr style="text-align:center">
                                        <th style="text-align:center">
                                            Id
                                        </th>
                                        <th style="text-align:center">
                                            Producto
                                        </th>
                                        <th>
                                            Cantidad
                                        </th>
                                        <th>
                                            Cantidad Enviada
                                        </th>
                                        <th>
                                            Precio Unitario
                                        </th>
                                        <th>
                                            Descuento
                                        </th>

                                        <th>Subtotal</th>
                                        <th></th>
                                    </tr>

                                    @foreach (var item in Model.PedidoDetalle)
                                    {
                                        <tr>
                                            <td style="text-align:center">
                                                @item.Productos.Id
                                            </td>
                                            <td style="text-align:center">
                                                @item.Productos.Nombre
                                            </td>
                                            <td style="text-align:center">
                                                @*Otra posible y mejor forma de hacerlo*@
                                                <input type="number" min="0" id="@item.IdProducto" value="@item.Cantidad" class="form-control" onchange="CambiarCantidadPedida(@item.IdProducto)" />
                                                <input type="hidden" value="@item.IdPedido" id="idPedido"/>
                                                <script>
                                            function CambiarCantidadPedida(id) {
                                                var cantidad = $('#' + id).val();
                                                var idPedido = $("#idPedido").val();

                                                var dataObject = JSON.stringify({
                                                    'terminoBusqueda': cantidad,
                                                    'id': id,
                                                    'idPedido': idPedido

                                        })
                                                var objeto = new Object();
                                                objeto.terminoBusqueda = cantidad;
                                                objeto.id = id;
                                                objeto.idPedido = idPedido

                                                var url = "@Url.Action("CambiarCantidadPedida", "Pedido")";
                                                var data = { terminoBusqueda: cantidad, id: id, idPedido: idPedido };
                                        $.post(url, data).done(function (data) {
                                            $("#carritoAjax").html(data);

                                        })
                                    }
                                                </script>
                                            </td>

                                            <td style="text-align:center">
                                                <input type="number" min="0" value="@item.CantidadEnviada" class="form-control" onchange="x(this.value,@item.IdProducto )" id="cantEnviada" />


                                                <script>
                                                function x(e, id) {
                                                    var cantidadEnviada = e;
                                                    var productoId = id;
                                                    var pedidoId = $("#idPedido").val();

                                                        var dataObjeto = JSON.stringify({
                                                            'cantidadEnviada': cantidadEnviada,
                                                            'productoId': productoId,
                                                            'pedidoId': pedidoId
                                                        })

                                                        var objeto = new Object();
                                                        objeto.productoId = productoId;
                                                    objeto.cantidadEnviada = cantidadEnviada;
                                                    objeto.pedidoId = pedidoId;
                                                    var url = "@Url.Action("CambiarCantidadEnviada","Pedido")";
                                                    var datos = { productoId: productoId, cantidadEnviada: cantidadEnviada, pedidoId: pedidoId };

                                                        $.post(url, datos).done(function (datos) {
                                                            $("#carritoAjax").html(datos);
                                                        })

                                                }
                                                </script>
                                            </td>

                                            <td style="text-align:center">
                                                @item.PrecioUnitario
                                            </td>
                                            <td style="text-align:center">
                                                @item.Descuento
                                            </td>
                                            <td style="text-align:center">
                                                ₡@(item.PrecioUnitario * item.Cantidad)
                                            </td>
                                            <td style="text-align:center">

                                                @Ajax.ActionLink("Eliminar", "EliminarCarrito", "Pedido", new { idD = item.Id, idPedido = item.IdPedido }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "carritoAjax", InsertionMode = InsertionMode.Replace }, htmlAttributes: new { @class = "btn btn-success btn-block" })
                                            </td>
                                        </tr>
                                        
                                    }
                                    <tr>
                                        <td colspan="3"></td>
                                        <th>
                                            <label>Total Descuento</label>
                                        </th>
                                        <th>
                                            <label>₡@ViewBag.TotalDescuento</label>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td colspan="3"></td>
                                        <th>
                                            <label>Total Impuesto</label>
                                        </th>
                                        <th>
                                            <label>₡@ViewBag.TotalImpuesto</label>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td colspan="3"></td>
                                        <th>
                                            <label>Total Pagar</label>
                                        </th>
                                        <th>
                                            <label>₡@ViewBag.TotalPagar</label>
                                        </th>
                                    </tr>


                                </table>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>

    }

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script>
        $(function () {
            $("#agregar").click(function () {
                var cantidad = $("#cant").val();
                var idPedido = $("#IdPedido").val();
                var idProducto = $("#nuevoId").val();

                var dataObject = JSON.stringify({
                    'cantidad': cant,
                    'idPedido': idPedido,
                    'idProducto': idProducto,
                })
                var objeto = new Object();
                objeto.cantidad = cantidad;
                objeto.idPedido = idPedido;
                objeto.idProducto = idProducto;

                var url = "@Url.Action("AgregarDetalle","Pedido")";
                var data = { idPedido, idProducto, cantidad };

                $.post(url, data).done(function (data) {
                    $("#carritoAjax").html(data);
                    $("#cant").val("");
                    $("#nuevoId").val("");

                })
            })
        })
    </script>

   

}


@if (Session["Pedido"] != null)
{
    switch (Session["Pedido"])
    {

        case "Producto inválido. Especifique un producto":
            <script type="text/javascript">
                function EdicionPed() {
                    Swal.fire({
                        title: 'Producto inválido. Especifique un producto',
                        icon: 'warning',
                        toast: false,
                        timer: 4000,
                        timerProgressBar: true
                    });
                };
                EdicionPed();
            </script>
            Session["Pedido"] = null;
            break;
        default:
            break;
    }
}