@model IEnumerable<Sistema_JYR.Models.Pedidos>


@{
    ViewBag.Title = "Mantenimiento Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> @Html.ActionLink("Inicio", "Index", "Home") </li>
        <li class="breadcrumb-item active">@Html.ActionLink("Mantenimientos", "Mantenimientos", "Home")</li>
        <li class="breadcrumb-item active">@Html.ActionLink("Pedidos", "Mantenimientos", "Home")</li>
        <li class="breadcrumb-item active">Mantenimiento Pedidos</li>
    </ol>
</div>


@using (Ajax.BeginForm("filtrarPedidosAjax", "Pedido", new AjaxOptions

{
    HttpMethod = "GET",
    UpdateTargetId = "divPedidos",
    InsertionMode = InsertionMode.Replace

}))
{
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-8">
                <h2><i class="fa fa-list-ul" style="margin-right: 2px"></i>Mantenimiento Pedidos</h2>
            </div>
            <div class="col-lg-4">
                <a class="btn btn-dark btn-block" href="@Url.Action("Create",new {})">
                    <i class="fa fa-plus" style="margin-right:5px"></i>Crear Nuevo Pedido
                </a>

            </div>
        </div>
        <div class="row" style="margin: 2%">
            <div class="col-md-1">
                Filtro:
            </div>
            <div class="col-md-9">
                @Html.TextBox("terminoBusqueda", "", new { @class = "form-control", @placeholder = "Criterio de búsqueda" })
            </div>

            <div class="col-md-1">
                <button type="submit" value="Buscar" class="btn btn-dark btn-block"><i class="fa fa-search"></i></button>
            </div>
            <div class="col-md-1">
                <a class="btn btn-danger btn-block" href="@Url.Action("Index")">
                    <i class="fa fa-trash-o"></i>
                </a>
            </div>
        </div>
    </div>}

<hr />


<div class="container-fluid" style="text-align: center" id="divPedidos">
    <table class="table table-striped table-hover table-bordered table-responsive-lg">


        <tr>
            <th>
                Número
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                Número de proforma
            </th>
            <th>
                Nombre
            </th>
            <th>
                Vendedor
            </th>

            <th>
                Descuento
            </th>
            <th>
                Impuesto
            </th>
            <th>
                Total
            </th>
            <th>
                Acciones
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @item.Fecha.ToString("dd/M/yyyy")
                </td>
                @if (item.NumeroProforma == null)
                {

                    <td>
                        N/A
                    </td>

                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.NombrePedido)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.NombrePedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.Cedula)
                </td>
                <td>

                    @if (item.TotalDescuento == 0)
                    {
                        <label>₡0,00</label>
                    }
                    else
                    {
                        <label>₡@item.TotalDescuento.ToString("0,#.00")</label>
                    }
                </td>
                <td>
                    @if (item.TotalImpuesto == 0)
                    {
                        <label>₡0,00</label>
                    }
                    else
                    {
                        <label>₡@item.TotalImpuesto.ToString("0,#.00")</label>
                    }
                </td>
                <td>
                    @if (item.TotalPagar == 0)
                    {
                        <label>₡0,00</label>
                    }
                    else
                    {
                        <label> ₡@item.TotalPagar.ToString("0,#.00")</label>
                    }
                </td>
                <td>
                    <a class="btn btn-dark" href="@Url.Action("Edit",new { id = item.Id })">
                        <i class="fa fa-pencil-square-o"></i>Editar
                    </a>
                    <a class="btn btn-dark" href="@Url.Action("Details",new { id = item.Id })">
                        <i class="fa fa-info-circle"></i>Detalles
                    </a>
                    <a class="btn btn-dark" href="@Url.Action("DuplicarPedido",new { id = item.Id })">
                        <i class="fa fa-files-o"></i>Duplicar
                    </a>
                </td>
            </tr>
        }

        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="9">
                    No hay elementos
                </td>
            </tr>
        }

    </table>
</div>

@if (Session["Pedido"] != null)
{
    switch (Session["Pedido"])
    {

        case "Pedido inválido. Especifique un pedido":
            <script type="text/javascript">
                function EdicionPed() {
                    Swal.fire({
                        title: 'Pedido inválido. Especifique un pedido',
                        icon: 'warning',
                        toast: false,
                        timer: 4000,
                        timerProgressBar: true
                    });
                };
                EdicionPed();
            </script>
            Session["Pedido"] = null;
            break;

        case "No existe el pedido":
            <script type="text/javascript">
                function ExistenciaPed() {
                    Swal.fire({
                        title: 'No existe el pedido',
                        icon: 'warning',
                        toast: false,
                        timer: 4000,
                        timerProgressBar: true
                    });
                };
                ExistenciaPed();
            </script>
            Session["Pedido"] = null;
            break;

        case "¡Pedido creado con éxito!":
            <script type="text/javascript">
                function CrearPed() {
                    Swal.fire({
                        title: '¡Pedido creado con éxito!',
                        icon: 'success',
                        toast: false,
                        timer: 4000,
                        timerProgressBar: true
                    });
                };
                CrearPed();
            </script>
            Session["Pedido"] = null;
            break;
        case "¡Pedido actualizado correctamente!":
            <script type="text/javascript">
                function ActualizarPed() {
                    Swal.fire({
                        title: '¡Pedido actualizado correctamente!',
                        icon: 'success',
                        toast: false,
                        timer: 4000,
                        timerProgressBar: true
                    });
                };
                ActualizarPed();
            </script>
            Session["Pedido"] = null;
            break;
        case "¡Pedido duplicado correctamente!":
            <script type="text/javascript">
                function DuplicarPed() {
                    Swal.fire({
                        title: '¡Pedido duplicado correctamente!',
                        icon: 'success',
                        toast: false,
                        timer: 4000,
                        timerProgressBar: true
                    });
                };
                DuplicarPed();
            </script>
            Session["Pedido"] = null;
            break;

        default:
            break;
    }
}


