@model Sistema_JYR.Models.AspNetUsers

@{
    ViewBag.Title = "Detalles Vendedor";
}

<h2>Detalles del Vendedor</h2>

<div>
    <h3>@Model.Nombre @Model.Apellido1 @Model.Apellido2</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Cédula")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.Label("Tipo de Cuenta")
        </dt>

        <dd>
            @switch (Model.Rol)
            {
                case 1:
                    @Html.Label("Administrador")
                    break;
                case 2:
                    @Html.Label("Vendedor")
                    break;
                case 3:
                    @Html.Label("Cliente")
                    break;
                default:
                    break;
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.Label("Nombre de Usuario")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.Label("Estado de la cuenta")
        </dt>

        <dd>
            @if (Model.Estado)
            {
                @Html.Label("Habilitada")
            }
            else
            {
                @Html.Label("Deshabilitada")
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id },htmlAttributes: new { @class = "btn btn-dark" }) |
    @Html.ActionLink("Volver a lista", "Index", new { }, htmlAttributes: new { @class = "btn btn-dark" })
</p>
