<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ferretería y Materiales JYR S.A</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="NavBar" style="padding-left: 30px;padding-right:30px">
        <a href="@Url.Action("Index","Home")" style="text-decoration: none">
            <img src="~/Content/imagenes/logoC.png" width="50" id="imgBrand"/>
            <h2 class="navbar-brand" style="font-weight:100;" id="NavBrand">Ferretería y Materiales JYR</h2>
        </a>


        <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarColor02" aria-label="Toggle navigation" type="button" data-target="#navbarColor02" data-toggle="collapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            @Html.Partial("_LoginPartial")
        </div>
    </nav>

    <div class="container-fluid body-content" id="RenderBody">
        @RenderBody()
      
        <div class="col-md-12">
            @if (ViewBag.Mensaje != "" && ViewBag.Mensaje != null)
            {
            <div class="alert" style="background-color:#fba44c; color:#042c3c" role="alert">
                <h4><i class="fa fa-warning"></i> Alerta</h4>
                <hr style="height: 10px; border: 0; box-shadow: 0 2px 2px -2px #042c3c inset">
                <strong>@ViewBag.Mensaje</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

     
            </div>}
        </div>
       
        <hr />
        <footer style="text-align: center">
            <p>&copy; @DateTime.Now.Year - Ferretería y Materiales JYR S.A</p>
            <div>Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            <div>Icons made by <a href="https://www.flaticon.com/free-icon/sweeping_3035186?term=clean&page=4&position=42" title="Linector">Linector</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            <div>Icons made by <a href="https://www.flaticon.com/authors/ultimatearm" title="ultimatearm">ultimatearm</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </footer>
        <a href="#" class="scrollup">Scroll</a>
    </div>
        <script src="~/Scripts/index.js"></script>
        <script src="~/Scripts/popper.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        @RenderSection("scripts", required: false)

</body>
</html>
