@using Microsoft.AspNet.Identity
@using Sistema_JYR.Models
@using Sistema_JYR.Models.Session

@if (Request.IsAuthenticated)
{
    Sistema_JYR.Models.AspNetUsers usuario = new AspNetUsers();
    SistemaJYREntities db = new SistemaJYREntities();
    string id = HttpContext.Current.User.Identity.GetUserId();
    usuario = db.AspNetUsers.Where(x => x.Id == id).First();


    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new
    {
        id = "logoutForm",
        @class = "ml-auto" +
        ""
    }))
    {
        @Html.AntiForgeryToken()
    <ul class="navbar-nav ml-auto" style="text-align: center">
        @if (usuario.Rol == 1 || usuario.Rol == 2)
        {
            if (Session["Documento"] != null)
            {
                var num = ((Documento)Session["Documento"]).TipoDocumento == TipoDocumento.Pedido ? "Pedido #" + ((Documento)Session["Documento"]).NumerosDocumento : "Proforma#" + ((Documento)Session["Documento"]).NumerosDocumento;
                <li class="nav-item">
                    @if (((Documento)Session["Documento"]).TipoDocumento == TipoDocumento.Pedido)
                    {
                        @Html.ActionLink(num, "Edit", "Pedido", new { id = ((Documento)Session["Documento"]).NumerosDocumento }, new { @class = "nav-link", @style = "color: white !important" })
                    }
                    else
                    {
                        @Html.ActionLink(num, "Edit", "Proformas", new { id = ((Documento)Session["Documento"]).NumerosDocumento }, new { @class = "nav-link", @style = "color: white !important" })
                    }

                </li>
            }
            <li class="nav-item">@Html.ActionLink("Inicio", "Index", "Home", new { }, new { @class = "nav-link", @style = "color: white !important" })</li>
            <li class="nav-item">@Html.ActionLink("Productos", "ListaProductos", "Productos", new { }, new { @class = "nav-link", @style = "color: white !important" })</li>
            <li class="dividerNav" style="color: white; text-align: center; margin-top: 5px; margin-left:5px;margin-right:5px">|</li>
            <li class="nav-item btn-group" role="group" style="color: white; font-weight:100">
                <a href="@Url.Action("Mantenimientos","Home")" class="btn" style="color: white; font-weight:100">Mantenimientos</a>
                <div class="btn-group" role="group">
                    <button id="btnMantenimientos" type="button" class="btn dropdown-toggle dropdown dividerNav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white; font-weight:100"></button>
                    <div class="dropdown-menu" aria-labelledby="btnMantenimientos">
                        @if (usuario.Rol == 1)
                        {
                            <h6 class="dropdown-header">Usuarios</h6>
                            @Html.ActionLink("Vendedores", "Index", "Usuarios", new { }, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                        }
                        <h6 class="dropdown-header">Inventario</h6>
                        @Html.ActionLink("Categorías de Productos", "Index", "CategoriasProducto", new { }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Productos", "Index", "Productos", new { }, new { @class = "dropdown-item" })
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Proforma</h6>
                        @Html.ActionLink("Proformas", "Index", "Proformas", new { }, new { @class = "dropdown-item" })
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Pedido</h6>
                        @Html.ActionLink("Pedidos", "Index", "Pedido", new { }, new { @class = "dropdown-item" })
                    </div>
                </div>
            </li>
            if (usuario.Rol == 1)
            {
                <li class="nav-item btn-group" role="group" style="color: white; font-weight:100">
                    <a href="@Url.Action("Reportes","Home")" class="btn" style="color: white; font-weight:100">Reportes</a>
                    <div class="btn-group" role="group">
                        <button id="btnReportes" type="button" class="btn dropdown-toggle dropdown dividerNav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white; font-weight:100"></button>
                        <div class="dropdown-menu" aria-labelledby="btnReportes" style="margin-right: 15px">
                            @Html.ActionLink("Reporte de Ventas por Empleado", "reporteVentasPorEmpleado", "Pedido", new { }, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">Inventario</h6>
                            @Html.ActionLink("Reporte Top 10 Productos", "reporteTopProducto", "Pedido", new { }, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">Proformas</h6>
                            @Html.ActionLink("Reporte de Profomas a Pedidos", "reporteProformaAPedido", "Proformas", new { }, new { @class = "dropdown-item" })
                        </div>
                    </div>
                </li>
            }
            <li class="dividerNav" style="color: white; text-align: center; margin-top: 5px; margin-left:5px;margin-right:10px">|</li>
            <li class="dropdown-divider" style="color: white"></li>
        }
        else
        {
            if (Session["Documento"] != null)
            {
                var num = ((Documento)Session["Documento"]).TipoDocumento == TipoDocumento.Pedido ? "Pedido #" + ((Documento)Session["Documento"]).NumerosDocumento : "Proforma#" + ((Documento)Session["Documento"]).NumerosDocumento;
                <li class="nav-item">
                    @if (((Documento)Session["Documento"]).TipoDocumento == TipoDocumento.Pedido)
                    {
                        @Html.ActionLink(num, "", "Pedido", new { id = ((Documento)Session["Documento"]).NumerosDocumento, idUsuario = usuario.Id }, new { @class = "nav-link", @style = "color: white !important" })
                    }
                    else
                    {
                        @Html.ActionLink(num, "EditProformaCliente", "Proformas", new { id = ((Documento)Session["Documento"]).NumerosDocumento, idUser = usuario.Id }, new { @class = "nav-link", @style = "color: white !important" })
                    }

                </li>
            }
            <li class="nav-item">@Html.ActionLink("Inicio", "Index", "Home", new { }, new { @class = "nav-link", @style = "color: white !important" })</li>
            <li class="nav-item">@Html.ActionLink("Productos", "ListaProductos", "Productos", new { }, new { @class = "nav-link", @style = "color: white !important" })</li>
            <li class="dividerNav" style="color: white; text-align: center; margin-top: 5px; margin-left:5px;margin-right:5px">|</li>
            <li class="nav-item">@Html.ActionLink("Proformas", "ListaProformas", "Proformas", new { @idUser = usuario.Id }, new { @class = "nav-link", @style = "color: white !important" })</li>
            <li class="nav-item">@Html.ActionLink("Pedidos", "SeguimientoPedido", "Pedido", new { }, new { @class = "nav-link", @style = "color: white !important" })</li>
            <li class="dividerNav" style="color: white; text-align: center; margin-top: 5px; margin-left:5px;margin-right:10px">|</li>
            <li class="dropdown-divider" style="color: white"></li>
        }

        <li class="nav-item dropdown">
            <i class="fa fa-user-circle" style="display: inline-block; color: white; margin-right: -5px"></i>
            <a class="nav-link dropdown-toggle" style="display:inline-block; color: white !important" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @usuario.Nombre @usuario.Apellido1
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                @Html.ActionLink("Configuración", "Index", "Manage", new { }, new { @class = "dropdown-item" })
                <div class="dropdown-divider"></div>
                <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item">Cerrar sesión</a>
            </div>
        </li>
    </ul>
    }
}
else
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">@Html.ActionLink("Inicio", "Index", "Home", new { }, new { @class = "nav-link", @style = "color: white !important" })</li>
        <li class="nav-item">@Html.ActionLink("Productos", "ListaProductos", "Productos", new { }, new { @class = "nav-link", @style = "color: white !important" })</li>
        <li class="nav-item">
            @Html.ActionLink("Registrarse", "Register", "Account", new { }, new { @class = "nav-link", @style = "color: white !important" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Iniciar sesión", "Login", "Account", new { }, new { @class = "nav-link", @style = "color: white !important" })
        </li>
    </ul>
}
<style>

    .ml-auto > .nav-item {
        padding-left: 2px;
        padding-right: 2px;
        font-weight: 100;
    }

        .ml-auto > .nav-item:hover {
            background-color: #0D4657;
        }
</style>
